<div class="currentWeather">
        <div class="countryBlock">
            <label class="margin_20">Enter Country Code</label>
            <input class="autocompleteCountries" type="text" autoComplete [countriesArray]="onlyCountries" #countryInput />
            <div class="hide" (click)="addToInput($event,countryInput)"></div>   
        </div>
        <div class="cityBlock">
            <label class="margin_20">Select City</label>
            <input class="autocompleteCities" type="text" autoComplete [citiesArray]="citiesForCountries"  #cityInput />
            <div class="hide" (click)="addToInputForCity($event,cityInput)"></div>
        </div>    
        
        <div *ngIf="selectedCity" class="routers">
            <a routerLink="/weather/{{selectedCity}}" >WeatherDetail</a>
            <a routerLink="/forecast/{{selectedCity}}">forecast</a>
            <a routerLink="/addData">Add Data</a>
        </div>
        <router-outlet></router-outlet>
        
</div> 