<div class="weatherDetail">
            <div>
                <label>City:</label>
                <span>{{city}}</span>
            </div>
            <div>
                <label>Weather:</label>
                <span>{{weatherData.weather}}</span>
            </div>
            <div>
                <label>Temprature:</label>
                <span>{{weatherData.temp}}</span>
            </div>
            <div>
                <label>Humidity:</label>
                <span>{{weatherData.humidity}}</span>
            </div>
            <div>
                <label>Minimum_Temprature:</label>
                <span>{{weatherData.temp_min}}</span>
            </div>
            <div>
                <label>Maximum_Temprature:</label>
                <span>{{weatherData.temp_max}}</span>
            </div>
            
</div>